* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7f68af;
}

a {
  text-decoration: none;
  color: #7f68af;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#light {
  transition: .6s;
}

#dark {
  background-color: black;
  transition: .6s;
}

#dark .left__container h1 {
  color: #7f68af;
}

#dark #chat__container {
  background-color: black;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes entry {
  0% {
    transform: translateY(10vh);
  }

  100% {
    transform: translateY(0);
  }
}