.login__container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://img.freepik.com/free-photo/bride-groom-having-their-wedding-beach_23-2149043964.jpg?w=2000');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    /* color: white; */
    padding-top: 20px;
}

.input__container {
    height: 100%;
}

@media screen and (min-width:760px) {
    .login__container {
        background: blueviolet;
    }
}